@model List<Activity>

<h1>Activities Awaiting Approval</h1>

@foreach (var activity in Model)
{
    <p class="card-text">ID: @activity.ActivityId</p>
    <p class="card-text">@activity.ActivityName</p>
    <p class="card-text">Description: @activity.ActivityDescription</p>
    <p class="card-text">Location: @activity.ActivityLocation</p>
    <p class="card-text">Date of Activity: @activity.DateOfActivity</p>
    <p class="card-text">Image Url: @activity.ImageUrl</p>
    <p class="card-text">Website Url: @activity.WebsiteUrl</p>
    <p class="card-text">Contact Info: @activity.ContactInfo</p>
    <p class="card-text">Is Free: @activity.IsFree</p>
    <p class="card-text">Is 18+: @activity.Is18Plus</p>
    <p class="card-text">Is Kid Friendly: @activity.IsFamilyFriendly</p>

    @*adding approve-button, to make them true - removing them from this list*@
    <form asp-action="ApproveActivity" method="post">
        <input type="hidden" name="activityId" value="@activity.ActivityId" />
        <button type="submit" class="button submit-button"><i class="bi bi-check-circle-fill">Approve</button>
    </form>

}

<!-- Error message when error occurs -->

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}