@model EventureMVC.Models.ViewModel.MyInformationViewModel

<h1>My Information</h1>

<p class="card-text">First name: @Model.FirstName</p>
<p class="card-text">Last name: @Model.LastName</p>
<p class="card-text">Phone number: @Model.PhoneNumber</p>
<p class="card-text">Location: @Model.UserLocation</p>
<p class="card-text">User Name: @Model.UserName</p>
<p class="card-text">Email: @Model.Email</p>
<p class="card-text">Password will not be shown, but you can change it here.</p>

<a asp-controller="MyPages" asp-action="EditMyInformation" class="button">Edit Information</a>
<a asp-controller="MyPages" asp-action="EditUserPassword" class="button">Edit Password</a>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}